---

---

<nav>
    <ul>
        <li>
            <a class="block p-2 cursor-pointer hover:bg-gray-200 rounded-xl" href="/invoice">Cuentas de cobro</a>
        </li>
        <li>
            <a class="block p-2 cursor-pointer hover:bg-gray-200 rounded-xl" href="/quote">Creador de cotizaciones</a>
        </li>
        <li>
            <a class="block p-2 cursor-pointer hover:bg-gray-200 rounded-xl" href="/providers">Proveedores</a>
        </li>
    </ul>
</nav>