---
import Menu from "./Menu.astro";
---

<aside class="sticky top-0 w-80 p-5 h-screen shadow-md border border-gray-200">
    <div class="py-4">
        <div class="flex justify-between items-center ">
            <img src="../../public/icons/logo_expanded.svg" alt="Logo NeoArts" class="w-32" />
        </div>
    </div>
    <hr>
    <div class="py-4">
        <Menu />
    </div>
</aside>