---
import Layout from "../layouts/Layout.astro";
import Filters from "../features/quote/components/Filters";
import Workspace from "../features/docs/components/Workspace";
---

<Layout title="cotizaciones">
    <section>
        <Filters client:load />
        <Workspace client:load />
    </section>
</Layout>