---
import Layout from "../layouts/Layout.astro";
import Filters from "../features/quote/components/Filters";
import Workspace from "../features/docs/components/Workspace";
import QuoteGenerator from "../features/quote/components/QuoteGenerator";
---

<Layout title="cotizaciones">
    <section>
        <QuoteGenerator client:load />
    </section>
</Layout>