---
import Layout from "../layouts/Layout.astro";
import Quote from "../features/quote/components/Quote.tsx"
---

<Layout title="cotizaciones">
    <section>
        <Quote client:load />
    </section>
</Layout>